spring:
  application:
    name: Backend

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: globalnest
    password: globalnest
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.OracleDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

server:
  port: 8080

logging:
  level:
    root: INFO
    com.globalnest: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
  secret: dGhpcy1pcy1hLXZlcnktc2VjdXJlLWtleS1mb3ItZ2xvYmFsbmVzdC1iYWNrZW5kLWNoYW5nZS1pbi1wcm9kdWN0aW9u
  expiration: 1800000  # 1 hour in milliseconds
  refresh-expiration: 1209600000  # 7 days in milliseconds
  
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operation-sorter: method